
\[Deep Learning\] \[NLP\] French Poem Generation w. LSTM  /dramacode_checkpoints/model_embedphon_concat.pt
\[Deep Learning\] \[NLP\] French Poem Generation w. LSTM  /dramacode_checkpoints/model_wordphon_attent.pt
\[Deep Learning\] \[NLP\] French Poem Generation w. LSTM  /dramacode_checkpoints/model_classic_random_batchs.pt
\[Deep Learning\] \[NLP\] French Poem Generation w. LSTM  /dramacode_checkpoints/model_wordphon_concat.pt
\[Deep Learning\] \[NLP\] French Poem Generation w. LSTM  /dramacode_checkpoints/model_classic.pt
